{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/css/estilos.css'%}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
	<title>{% block tittle %}{% endblock %}</title>
</head>
	<body>

		<!--Inicio del navbar-->
		
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a href="{% url 'index' %}" class="brand-logo">Nuevo_logo</a>	
					<ul class="right hide-on-med-and-down">
						<li><a class="dropdown-button" data-hover="true" href="{% url 'talleres' %}" data-activates="talleres">Talleres</a>
						</li>
						<li><a class="dropdown-button" data-hover="true" href="{% url 'guias' %}" data-activates="guias">Guias</a>
						</li>
						<li><a class="dropdown-button" data-hover="true" href="" data-activates="tienda">Tienda<i class="material-icons right">arrow_drop_down</i></a>
							<!-- Dropdown Structure -->
							<ul id="tienda" class="dropdown-content">
								<li><a href="#!">Tarjetas de regalo</a></li>
								<li><a href="#!">Burbujas con soporte</a></li>
								<li><a href="#!">Burbuja colgante</a></li>
								<li><a href="#!">Erlenmeyer</a></li>
								<li><a href="#!">Balon plano</a></li>
								<li><a href="#!">Domos</a></li>
							</ul>
						</li>
						<li><a class="dropdown-button" data-hover="true" href="{% url 'cuidados' %}" data-activates="cuidados">Cuidados</a>							
						</li>
						<!-- Dropdown Trigger -->
						<li><a class="dropdown-button" href="" data-hover="true" data-activates="terrarios">Terrarios y nosotros<i class="material-icons right">arrow_drop_down</i></a>
							<!-- Dropdown Structure -->
							<ul id="terrarios" class="dropdown-content">
								<li><a href="#!">Quienes somos</a></li>
								<li><a href="#!">Nuestros proyectos</a></li>
								<li><a href="#!">Historia</a></li>
								<li><a href="#!">Pteridomania</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>	
		</div>
		<!--Fin del navbar-->

		<!--Inicio del section-->

		{%block content %}{% endblock %}
		
		<!--Fin del section-->

		<!--Inicio del footer-->

		<footer class="page-footer">
			<div class="row">
				<div class="col s12 l3">
					<h5 class="white-text">Ubiquenos en Bogotá</h5>
					<p class="grey-text text-lighten-4">Casa Buro<br>Orenda Bonsai Estudio<br>Cra # 4a - 67 <i class="fas fa-map-marked-alt"></i></p>
					<p class="grey-text text-lighten-4">Tienda y estudio de terrarios de Bogotá<br>Cra 9 # 59 - 43</p>
				</div>
				<div class="col s12 l3">
					<h5 class="white-text">Tambien en</h5>
					<p class="grey-text text-lighten-4">Vereda San Sebastián<br>Entrada donde Chencha<br>Finca Villa Nelly<br>Necoclí-Antioqui</p>
				</div>
				<div class="col s12 l4 offset-l2">
					<h5 class="white-text">Enlaces de interés</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://www.instagram.com/plantar_paisaje/?hl=es-la"><i class="fab fa-instagram"></i> plantar_paisaje</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/Magiantina"><i class="fab fa-facebook-square"></i> Valentina Ramirez V.</a></li>
						<li><a class="grey-text text-lighten-3" href="#!"><i class="fas fa-at"></i> plantarpaisaje@gmail.com</a></li>
						<li><a class="grey-text text-lighten-3" href="https://api.whatsapp.com/send?phone=[+57][3005499053]"><i class="fab fa-whatsapp"></i> +57 3005499053</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="footer-copyright">
				<p>©2020 acramos86 Copyright</p>
				<a class="grey-text text-lighten-4 right" style="margin-right: 10px;">Ing. Agrónoma, Msc. Biologia. Valentina Ramirez</a>
			</div>
		</footer>

		<!--Fin del footer-->

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	</body>
</html>