{% extends "tienda.html" %}
{% load static %}

{% block carrito %}

<img class="responsive-img center-align" src="{% static '/imagenes/burbColgante.jpg'%}" style="width: 20%;"> 
<h4>Tarjetas de ragalo</h4>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio neque obcaecati, repudiandae sint recusandae<br>
    Pendiente informacion.
</p>
<div class="botonesTienda">
    <a class="btn" href="https://api.whatsapp.com/send?phone=[+57][3005499053]">Solicitar mas informacion   <i class="fab fa-whatsapp"></i></a>
    <a class="btn" href="#">Comprar   <i class="fas fa-cart-plus"></i></a>
</div>

{% endblock %}