{% extends "base.html" %}
{% load static %}

{% block tittle %}
Cuidados
{% endblock %}

{% block content %}
<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxAmarillo.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">follaje amarillo</h2>
    </div>
</section>
<p class="textop">
    El amarilleo de las hojas o el musgo puede ser causado por algunos aspectos
    diferentes. Puede ser que el terrario esté demasiado húmedo; Si el compost se ve
    empapado con agua, puede eventualmente causar pudrición de la raíz, volviendo las
    hojas marchitas y amarillas. En este punto, sería una buena idea mantener el corcho 
    fuera el mayor tiempo posible hasta que el terrario se haya secado. Por otro lado, las
    hojas amarillentas y crujientes también pueden significar que su terrario está
    demasiado seco; el musgo es un buen indicador de esto, si el musgo se está volviendo
    amarillo, su terrario necesitará más agua. Tómese una botella de spray y rocíe dentro
    de su terrario 4-5 veces para aumentar la humedad.
</p> 

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxMarron.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Pérdida de color y follaje marrón </h2>
    </div>
</section>
<p class="textop">
    Usamos una gran cantidad de Fittonia rosa brillante en nuestros terrarios, aunque
    ocasionalmente puede ver que estas Fittonia rosadas se marchitan y pierden su color
    rosa brillante. Este es un fuerte indicador de que su terrario está recibiendo demasiado
    sol o calor, por lo que mueva rápidamente su terrario a una posición más sombreada.
    Este también sería el caso si ve que los helechos o las plantas más grandes se vuelven
    marrones, lo que sugiere demasiado sol. 
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxCaida.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Caída de hojas </h2>
    </div>
</section>
<p  class="textop">
    Las hojas que caen ocurrirán naturalmente a muchas plantas, y puede notar que esto le
    sucede a algunas de sus plantas en el primer mes más o menos. Estas son solo tus
    plantas ajustándose a su nuevo entorno, desprendiendo sus viejas hojas y produciendo
    nuevos brotes más fuertes. 
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxError.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">ERRORES!</h2>
    </div>
</section>
<p  class="textop">
    Ok, entonces estamos lidiando con la naturaleza y, a veces, traer el exterior hacia
    adentro puede significar traer algo de ganado accidental también. Sin embargo, no 
    todos los insectos serán dañinos, así que no se asuste si ve que algo se arrastra.
    Woodlouse, las lombrices de tierra y los ciempiés parecen disfrutar de las condiciones
    del musgo, así que, cuando construyas tus terrarios si encuentras alguno de estos en el
    musgo, sácalos con cuidado. <br>
    Los áfidos son las plagas que son un poco más difíciles de eliminar, se pueden colocar
    en el terrario como larvas dentro del musgo, por lo que comenzarán a aparecer
    después de unas semanas. Estas pequeñas moscas prosperan en la humedad del
    terrario, por lo que la mejor manera de eliminarlas es dejando el corcho fuera de su
    terrario y colocando un pequeño vaso de vino tinto o vinagre al lado del terrario para
    atraerlos mientras se sienten atraídos por el Aromas dulces. 
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxMoho.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Moho</h2>
    </div>
</section>
<p  class="textop">
    El problema con la creación de estos ambientes húmedos es que también es el
    ambiente perfecto para la formación de moho. Si esto va a ocurrir, lo notará en las
    primeras semanas, ya que es entonces cuando los elementos del terrario se están
    instalando y ajustando a su nuevo entorno. Idealmente, deberá tomar un palo y cepillar
    la mayor cantidad posible de este molde, dejando el corcho afuera por unos días para
    que las condiciones se calmen (una razón de nuestro período de incubación de 2
    semanas). <br>
    También puede obtener moho si no hay suficiente luz para el terrario, ya que la luz
    solar proporciona un elemento disuasorio natural para el moho, así que intente mover
    su terrario a un lugar más soleado si le preocupa que esté demasiado oscuro 
</p>
{% endblock %}