{% extends "base.html" %}
{% load static %}

{% block tittle %}
guias
{% endblock %}

{% block content %}

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxIncu2.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Dos semanas de incubacion</h2>
    </div>
</section>
<p class="textop">
    No se preocupe, ¡esto no es tan aterrador como parece! Una vez que haya construido
    su propio terrario, le sugerimos que dé un período de incubación de dos semanas, lo
    que significa quitar el corcho ocasionalmente durante las primeras dos semanas. Si lo
    piensas bien, acabas de tomar estas plantas de un entorno al que están
    acostumbradas por completo y las metiste en este frasco sellado; solo necesitan
    acostumbrarse a este nuevo espacio. Así que cada pocos días quítese el corcho y
    déjelo reposar durante unas horas y luego vuelva a encenderlo, repitiendo esto cada
    pocos días durante dos semanas, después de lo cual debería eestar bien para dejar el
    corcho adentro. No te preocupes, solo hazlo cuando lo recuerdes, ¡probablemente lo
    hayas olvidado ya que tu terrario ya lo está haciendo muy bien!
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxDuda1.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">En caso de duda, no regar.</h2>
    </div>
</section>
<p class="textop">
    Lo principal para recordar es que su terrario crea su propia agua, lo que significa que
    es muy raro que tenga que regarla. Mientras vea una pequeña cantidad de
    condensación en el interior del vaso, no necesita regar su terrario. Siempre decimos
    que no riegue por sí mismo, incluso si no ha regado su terrario durante meses, siempre
    que haya condensación, estará bien. Si cree que su terrario está comenzando a verse
    un poco seco, tal vez espere hasta el día siguiente y si todavía se ve seco, dele uno o
    dos chorros de agua. Eso nos lleva al siguiente punto: sí tiene que regar, siempre
    introduzca agua como vapor de agua usando una botella rociadora o un señor, ya que
    verter agua generalmente conducirá a un terrario 'pantanoso' con exceso de agua.
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxSol.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Manténgase alejado de cualquier sol directo o calor</h2>
    </div>
</section>
<p class="textop">
    Las plantas utilizadas en estos terrarios sellados prosperan con poca luz. 
    <br>Mantenga sus terrarios alejados de cualquier sol directo, como una repisa de la ventana orientada
    al sur, o dejándolo en el automóvil en un día caluroso (palabras de la experiencia ...) ya
    que el sol que entra por el vidrio rápidamente "cocinará" las plantas que las causan
    marchitarse y morir. Esto va para dejar su terrario en un lugar demasiado cálido
    también, al lado de los radiadores y colocado en pisos con calefacción será muy
    perjudicial.
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxhumedad.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">¿Parece demasiado húmedo?</h2>
    </div>
</section>
<p class="textop">
    Ocasionalmente puede mirar su terrario y parece que hay demasiada condensación en
    el interior. Esto puede ser que su terrario está demasiado caliente y está creando
    demasiada condensación o su terrario está demasiado frío y está respirando
    demasiado. Lo mejor que puede hacer es cambiar la posición del terrario y luego sacar
    el corcho durante unas horas hasta que el exceso de condensación se haya secado.
</p>
<section class="parallax" style="background-image: url('{% static '/imagenes/parallaxSol1.jpg'%}')">
</section>

{% endblock %}