{% extends "base.html" %}
{% load static %}

{% block tittle %}
proyectoValen
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="center-align">Plantar paisaje</h2>
<p class="textop">
    PLANTAR es una marca botánica que promueve la interacción con la naturaleza conectando con nuestras energías vitales, naturales y ancestrales
</p>
</div>
<div>
    <div class="row card-panel color">
        <div class="col s12 m4">
            <h4>Talleres</h4>
            <img class="responsive-img" src="{% static '/imagenes/talleres.jpg'%}">
        </div>
        <div class="col s12 m8">
            <br>
            <p>Nos complace presentarte nuestros Talleres de terrario virtual, así como algunos
                talleres de grupos pequeños que se dictarán en la sede de nuestros amigos y aliados
                de Orenda Bonsai studio (Chapinero, Bogotá).<br>
                Si tienes una tarjeta de regalo, ¡puedes usarla en cualquiera de estos talleres!</p>
                <h5>Materiales suministrados</h5>
            <p>Vasija de vidrio con o sin tapa (Según el estilo abierto o cerrado), plantas como: helechos, selaginellas, lycofitos (PTERIDOFILIA) y otras pequeñas, plantas de terrario, roquitas, tierra, carbón activado, arlita y musgo, herramientas especiales de terrario, guía de cuidados para llevar a casa</p>
            <div class="divider"></div>            
            <div class="section">
                <a class="black-text" href="{% url 'talleres' %}">Leer mas...</a>               
            </div> 
        </div>
    </div>   
</div>
<div>
    <div class="row card-panel colores">
        <div class="col s12 m6">
            <h2>Guias</h2>
            Terra- Significa Tierra<br>
            Arium- Un sufijo que denota un lugar. 
            Esto es lo básico de lo que es un terrario, estamos creando un paisaje protegido de los
            elementos externos, en el que las plantas y minerales utilizados pueden interactuar y
            crecer como si estuvieran en sus ecosistemas naturales.<br>
            <div class="divider"></div>            
            <div class="section">
                <a class="black-text" href="{% url 'guias' %}">Leer mas...</a>
            </div>             
        </div>
        <div class="col s12 m6">            
            <img class="responsive-img" src="{% static '/imagenes/guias.jpg'%}">
        </div>
    </div>
</div>
<div>
    <div class="row card-panel color">
        <div class="col s12 m5">
            <h4>Tienda</h4>
            <img class="responsive-img" src="{% static '/imagenes/tienda.jpg'%}">
        </div>
        <div class="col s12 m7">      
            <br>      
            <div class="divider"></div>            
            <div class="section">
                <a class="black-text" href="{% url 'tarjetas' %}">Tarjetas de regalo</a>               
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="{% url 'burbSoporte' %}">Burbujas con soporte</a>             
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="#">Burbujas colgantes</a>             
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="#">Erlenmeyer</a>             
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="#">Balon plano</a>             
            </div>
            <div class="divider "></div>
            <div class="section">
                <a class="black-text" href="#">Domos</a>             
            </div>
            <div class="divider"></div>
        </div>
    </div>   
</div>
<div>
    <div class="row card-panel colores">
        <div class="col s12 m6">
            <h2>Cuidados</h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores explicabo error sapiente illum officiis reprehenderit ipsum accusamus aperiam reiciendis voluptatibus, quae voluptatum officia! Adipisci consequuntur ut molestias amet, sapiente magni.
            <div class="divider"></div>            
            <div class="section">
                <a class="black-text" href="{% url 'cuidados' %}">Leer mas...</a>               
            </div>
        </div>
        <div class="col s12 m6">            
            <img class="responsive-img" src="{% static '/imagenes/cuidados.jpg'%}">
        </div>        
    </div>
</div>
<div>
    <div class="row card-panel color">
        <div class="col s12 m5">
            <h4>Terrarios</h4>
            <img style="width: 50%;" class="responsive-img" src="{% static '/imagenes/terrarios.jpg'%}">
        </div>
        <div class="col s12 m7"><br>
            <p>Es una instalación en la cual se mantienen artificialmente las condiciones de hábitat adecuadas para ciertos animales de tierra, especialmente reptiles y anfibios, o plantas.</p>        
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="#">Quienes somos</a>             
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="#">Nuestros proyectos</a>             
            </div>
            <div class="divider"></div>            
            <div class="section">
                <a class="black-text" href="#">Historias</a>               
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="black-text" href="#">Pteridomania</a>             
            </div>
                         
        </div>
    </div>   
</div>
{% endblock %}