{% extends "base.html" %}
{% load static %}

{% block tittle %}
talleres
{% endblock %}

{% block content %}
<section class="parallax" style="background-image: url('{% static '/imagenes/parallax3.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Talleres de terrarios</h2>
    </div>
</section>
<p class="textop">Nos complace presentarte nuestros Talleres de terrario virtual, así como algunos
    talleres de grupos pequeños que se dictarán en la sede de nuestros amigos y aliados
    de Orenda Bonsai studio (Chapinero, Bogotá).<br>
    Si tienes una tarjeta de regalo, ¡puedes usarla en cualquiera de estos talleres!<br>
    <div class="divider"></div>
    Incluir enlace a las tarjetas de regalo
    <div class="divider"></div>
</p> 

<section class="parallax" style="background-image: url('{% static '/imagenes/parallax2.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Talleres virtuales y corporativos</h2>
    </div>
</section>
<p class="textop">Además de nuestros talleres personalizados, organizamos talleres corporativos y de
    trabajo en equipo regularmente.<br>
    ¡En estos momentos, en los que muchos de ustedes están trabajando en casa,
    queremos acercarles los eventos sociales de la oficina!
    Estamos ofreciendo talleres virtuales para todos los empleados en todo el país,
    enviando un kit de terrarios de Plantar que incluye todo lo que necesita para hacer tu
    propio terrario y luego un taller de Zoom a medida en el momento que elija.<br>
    Para reservas y más información, envíenos un correo electrónico:
    plantarpaisaje@gmail.com</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallax5.jpg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Que incluye?</h2>
    </div>
</section>
<p  class="textop">Aprenderás cómo funciona un terrario; cómo estos ecosistemas autónomos sobreviven
    tan bien solos y cómo cuidarlos.
    Comenzaremos con una breve introducción explicando la historia y la ciencia que se
    necesita para construir un terrario, desde las diferentes plantas que puede usar, las
    interacciones ecosistemas que se presentan en un terrario, hasta por qué la piedra
    pómez y el carbón activado se han convertido en algo esencial para nosotr@s.
    ¡Despues de la teoría, sólo dependerá de ti poner tus propias manos para construir tus
    terrarios para llevar a casa y ver crecer!
</p>

<section class="parallax" style="background-image: url('{% static '/imagenes/parallax.jpeg'%}')">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h2 class="texto">Materiales suministrados en los talleres</h2>
    </div>
</section>
<p  class="textop">
    Vasija de vidrio con o sin tapa (Según el estilo abierto o cerrado)<br>
    Plantas como: helechos, selaginellas, lycofitos (PTERIDOFILIA) y otras pequeñas<br>
    plantas de terrario<br>
    Roquitas, tierra, carbón activado, arlita y musgo<br>
    Herramientas especiales de terrario<br>
    Guía de cuidados para llevar a casa<br>
</p>
{% endblock %}